body {
  background-color: #161d22;
  margin: 0;
  padding: 0;
}

.container {
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: grid;
    color: #d3d3d3;
    font-weight: 900;
    font-family: Inter;
    font-size: 1150%;
    justify-content: center;
    align-items: center;
}
